In [1]:
import pandas as pd
import zipfile
import os

In [2]:
current_dir = os.getcwd()
project_directory, notebooks_subdirectory = os.path.split(current_dir)
if notebooks_subdirectory == "jupyter_notebooks":
    os.chdir(project_directory)
    print(f"Changed working directory to project root: {project_directory}")
else:
    project_directory = current_dir
# Confirm the new current directory
os.getcwd()

Changed working directory to project root: c:\Users\dave4\vscode-projects\us-pollution-data\us-pollution-data

'c:\\Users\\dave4\\vscode-projects\\us-pollution-data\\us-pollution-data'

In [3]:
df = pd.read_csv('data/archive.zip', compression='zip')
df.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [ ]:
df.info

In [13]:
df['Date Local'] = pd.to_datetime(df['Date Local'], errors='coerce')
df = df.drop(['Unnamed: 0', 'NO2 Units', 'SO2 Units', 'O3 Units'], axis='columns')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1746661 entries, 0 to 1746660
Data columns (total 25 columns):
 #   Column             Dtype
---  ------             -----
 0   State Code         int64
 1   County Code        int64
 2   Site Num           int64
 3   Address            object
 4   State              object
 5   County             object
 6   City               object
 7   Date Local         datetime64[ns]
 8   NO2 Mean           float64
 9   NO2 1st Max Value  float64
 10  NO2 1st Max Hour   int64
 11  NO2 AQI            int64
 12  O3 Mean            float64
 13  O3 1st Max Value   float64
 14  O3 1st Max Hour    int64
 15  O3 AQI             int64
 16  SO2 Mean           float64
 17  SO2 1st Max Value  float64
 18  SO2 1st Max Hour   int64
 19  SO2 AQI            float64
 20  CO Units           object
 21  CO Mean            float64
 22  CO 1st Max Value   float64
 23  CO 1st Max Hour    int64
 24  CO AQI             float64
dtypes: datetime64[ns](1), float64(10), int64(9), object(5)
memory usage: 333.1+ MB

In [15]:
df.nunique(axis=0)

State Code              47
County Code             73
Site Num               110
Address                204
State                   47
County                 133
City                   144
Date Local            5996
NO2 Mean             31859
NO2 1st Max Value      990
NO2 1st Max Hour        24
NO2 AQI                129
O3 Mean               8196
O3 1st Max Value       134
O3 1st Max Hour         24
O3 AQI                 125
SO2 Mean             12736
SO2 1st Max Value      921
SO2 1st Max Hour        24
SO2 AQI                140
CO Units                 1
CO Mean              34123
CO 1st Max Value      2698
CO 1st Max Hour         24
CO AQI                 107
dtype: int64

In [ ]:
df.groupby(['Address']).size()

In [7]:
df.groupby(['State Code', 'County Code', 'Site Num']).size()

State Code  County Code  Site Num
1           73           23           3126
2           90           34           1974
4           13           3002        22568
                         3003         8674
                         9997        15344
                                     ...
56          37           870          1850
            41           101          2688
80          2            3            3424
                         4            1732
                         12           4350
Length: 204, dtype: int64

In [17]:
df.isnull().sum()

State Code                0
County Code               0
Site Num                  0
Address                   0
State                     0
County                    0
City                      0
Date Local                0
NO2 Mean                  0
NO2 1st Max Value         0
NO2 1st Max Hour          0
NO2 AQI                   0
O3 Mean                   0
O3 1st Max Value          0
O3 1st Max Hour           0
O3 AQI                    0
SO2 Mean                  0
SO2 1st Max Value         0
SO2 1st Max Hour          0
SO2 AQI              872907
CO Units                  0
CO Mean                   0
CO 1st Max Value          0
CO 1st Max Hour           0
CO AQI               873323
dtype: int64

In [ ]:
df = df.drop(['State Code', 'County Code', 'Site Num', 'State', 'County', 'City'], axis='columns')

,Address,Date Local,NO2 Mean,NO2 1st Max Value,NO2 1st Max Hour,NO2 AQI,O3 Mean,O3 1st Max Value,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,3.000000,9.0,21,13.0,Parts per million,1.145833,4.200,21,NaN
1,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,3.000000,9.0,21,13.0,Parts per million,0.878947,2.200,23,25.0
2,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,2.975000,6.6,23,NaN,Parts per million,1.145833,4.200,21,NaN
3,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-01,19.041667,49.0,19,46,0.022500,0.040,10,34,2.975000,6.6,23,NaN,Parts per million,0.878947,2.200,23,25.0
4,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,2000-01-02,22.958333,36.0,19,34,0.013375,0.032,10,27,1.958333,3.0,22,4.0,Parts per million,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,NCore - North Cheyenne Soccer Complex,2016-03-30,1.083333,1.6,9,1,0.043917,0.048,18,44,0.000000,0.0,2,NaN,Parts per million,0.091667,0.100,2,1.0
1746657,NCore - North Cheyenne Soccer Complex,2016-03-31,0.939130,1.3,5,1,0.045263,0.047,9,44,-0.022727,0.0,0,0.0,Parts per million,0.067714,0.127,0,NaN
1746658,NCore - North Cheyenne Soccer Complex,2016-03-31,0.939130,1.3,5,1,0.045263,0.047,9,44,-0.022727,0.0,0,0.0,Parts per million,0.100000,0.100,0,1.0
1746659,NCore - North Cheyenne Soccer Complex,2016-03-31,0.939130,1.3,5,1,0.045263,0.047,9,44,0.000000,0.0,5,NaN,Parts per million,0.067714,0.127,0,NaN
1746660,NCore - North Cheyenne Soccer Complex,2016-03-31,0.939130,1.3,5,1,0.045263,0.047,9,44,0.000000,0.0,5,NaN,Parts per million,0.100000,0.100,0,1.0

In [21]:
pd.DataFrame([df['Address'], df['SO2 AQI'].isna(), df['CO AQI'].isna()]).transpose().groupby(['Address','SO2 AQI','CO AQI']).sum()

Empty DataFrame
Columns: []
Index: [(          6100 ARLINGTON BLVD MONTG WARD, False, False), (          6100 ARLINGTON BLVD MONTG WARD, False, True), (          6100 ARLINGTON BLVD MONTG WARD, True, False), (          6100 ARLINGTON BLVD MONTG WARD, True, True), ( Center St, False, False), ( Center St, False, True), ( Center St, True, False), ( Center St, True, True), (10 ARKANSAS ST., False, False), (10 ARKANSAS ST., False, True), (10 ARKANSAS ST., True, False), (10 ARKANSAS ST., True, True), (100 WHITNEY YOUNG CIRCLE, SAN FRANCISCO, False, False), (100 WHITNEY YOUNG CIRCLE, SAN FRANCISCO, False, True), (100 WHITNEY YOUNG CIRCLE, SAN FRANCISCO, True, False), (100 WHITNEY YOUNG CIRCLE, SAN FRANCISCO, True, True), (1005 INDUSTRIAL ROAD, False, False), (1005 INDUSTRIAL ROAD, False, True), (1005 INDUSTRIAL ROAD, True, False), (1005 INDUSTRIAL ROAD, True, True), (1005 W. WELDON AVENUE, False, False), (1005 W. WELDON AVENUE, False, True), (1005 W. WELDON AVENUE, True, False), (1005 W. WELDON AVENUE, True, True), (10267 ST CHARLES ROCK ROAD, False, False), (10267 ST CHARLES ROCK ROAD, False, True), (10267 ST CHARLES ROCK ROAD, True, False), (10267 ST CHARLES ROCK ROAD, True, True), (1029 ETHEL ST, CALEXICO HIGH SCHOOL, False, False), (1029 ETHEL ST, CALEXICO HIGH SCHOOL, False, True), (1029 ETHEL ST, CALEXICO HIGH SCHOOL, True, False), (1029 ETHEL ST, CALEXICO HIGH SCHOOL, True, True), (10537 FLOYD SMITH DRIVE, False, False), (10537 FLOYD SMITH DRIVE, False, True), (10537 FLOYD SMITH DRIVE, True, False), (10537 FLOYD SMITH DRIVE, True, True), (1059 Arnold Road, False, False), (1059 Arnold Road, False, True), (1059 Arnold Road, True, False), (1059 Arnold Road, True, True), (1061-A Leesville Ave, False, False), (1061-A Leesville Ave, False, True), (1061-A Leesville Ave, True, False), (1061-A Leesville Ave, True, True), (1098 POMONA STREET, False, False), (1098 POMONA STREET, False, True), (1098 POMONA STREET, True, False), (1098 POMONA STREET, True, True), (10TH AND MARNE STREETS, False, False), (10TH AND MARNE STREETS, False, True), (10TH AND MARNE STREETS, True, False), (10TH AND MARNE STREETS, True, True), (10TH ST. & VINE ST. DAVENPORT, False, False), (10TH ST. & VINE ST. DAVENPORT, False, True), (10TH ST. & VINE ST. DAVENPORT, True, False), (10TH ST. & VINE ST. DAVENPORT, True, True), (1100 21st Street, False, False), (1100 21st Street, False, True), (1100 21st Street, True, False), (1100 21st Street, True, True), (1100 PASEO INTERNATIONAL, OTAY MESA, CA, False, False), (1100 PASEO INTERNATIONAL, OTAY MESA, CA, False, True), (1100 PASEO INTERNATIONAL, OTAY MESA, CA, True, False), (1100 PASEO INTERNATIONAL, OTAY MESA, CA, True, True), (1110 BEARDSLEY STREET, SAN DIEGO, CA 92112, False, False), (1110 BEARDSLEY STREET, SAN DIEGO, CA 92112, False, True), (1110 BEARDSLEY STREET, SAN DIEGO, CA 92112, True, False), (1110 BEARDSLEY STREET, SAN DIEGO, CA 92112, True, True), (1115 N. MAHAR AVENUE WILMINGTON, CA, False, False), (1115 N. MAHAR AVENUE WILMINGTON, CA, False, True), (1115 N. MAHAR AVENUE WILMINGTON, CA, True, False), (1115 N. MAHAR AVENUE WILMINGTON, CA, True, True), (1130 EASTWAY DRIVE, False, False), (1130 EASTWAY DRIVE, False, True), (1130 EASTWAY DRIVE, True, False), (1130 EASTWAY DRIVE, True, True), (1155 REDWOOD AVE., EL CAJON, False, False), (1155 REDWOOD AVE., EL CAJON, False, True), (1155 REDWOOD AVE., EL CAJON, True, False), (1155 REDWOOD AVE., EL CAJON, True, True), (1167 NORTH DOVER ROAD, False, False), (1167 NORTH DOVER ROAD, False, True), (1167 NORTH DOVER ROAD, True, False), (1167 NORTH DOVER ROAD, True, True), (1179 MONROE NW, False, False), (1179 MONROE NW, False, True), (1179 MONROE NW, True, False), (1179 MONROE NW, True, True), (1210 N. 10TH ST.,JFK RECREATION CENTER, False, False), (1210 N. 10TH ST.,JFK RECREATION CENTER, False, True), (1210 N. 10TH ST.,JFK RECREATION CENTER, True, False), (1210 N. 10TH ST.,JFK RECREATION CENTER, True, True), (1237 S. BEVERLY , TUCSON, False, False), (1237 S. BEVERLY , TUCSON, False, True), (1237 S. BEVERLY , TUCSON, True, False), (1237 S. BEVERLY , TUCSON, True, True), (128 S 'H' ST, LOMPOC, False, False), (128 S 'H' ST, LOMPOC, False, True), (128 S 'H' ST, LOMPOC, True, False), (128 S 'H' ST, LOMPOC, True, True), ...]

[816 rows x 0 columns]